VITE_API_BASE_URL=https://api-gw-ds.tnex.com.vn
VITE_LOGIN_ENDPOINT=/digital-sale/api/v1/users/admin-login
VITE_LOANS_ENDPOINT=/digital-sale-admin/api/v1/admin/loans
VITE_ROLES_ENDPOINT=/digital-sale-admin/api/v1/admin/roles
VITE_SEARCH_USERS_ENDPOINT=/digital-sale-admin/api/v1/admin/search-users
VITE_ORG_UNITS_ENDPOINT=/digital-sale-admin/api/v1/admin/org-units
VITE_ORG_UNIT_USERS_ENDPOINT=/digital-sale-admin/api/v1/admin/org-units/users
VITE_REMOVE_ORG_UNIT_USER_ENDPOINT=/digital-sale-admin/api/v1/admin/org-units/users/remove
VITE_ASSIGN_USER_ROLE_ENDPOINT=/digital-sale-admin/api/v1/admin/roles/user-roles/assign
VITE_NOTIFICATION_TEMPLATES_ENDPOINT=/digital-sale-admin/api/v1/admin/notifications/templates
VITE_API_TIMEOUT=30000
